
body{
    border-color: rgb(99, 141, 177);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nav1{
    background-color: white;
width: 100%;
height: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:0;
    left:0%;
    width: 100%;
    height: 100%;
    transition: all 2s linear;
    font-size: 1px;
}
.navBarSection h1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transition: all .5 linear;
    transform: translateX(-90px);
    color: black;
    font-size: 30px;
}
.navBarSection{
    display: flex;
    justify-content: space-between;
background-color: white;
    width: 90%;
    height: 100%;
    padding: 50px;
    position: fixed;
    top:0%;
    left:-123%;
   
}
.listItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    list-style-type: none;
    padding-top: 37px;
}
.listItems li{
    margin-top: 20px;
}

.navLists{
    transition: all 1s linear;
    transform: translateY(-50px);
    list-style-type: none;
    font-size: 1px;
    display: flex;
    flex-direction: row;
    gap:20px;
}
.wrongIcon{
    padding-top:37px ;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:3px;
}
.buttons button{
    margin-top: 30px;
    color:white;
    font-size: 15px;
   background-color: rgb(255, 111, 0);
    border: none;
    border-radius: 20px;
    padding: 8px 21px;
}
.dot{
   position: relative;
    background: url('../images/travelImage1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 170px;
   z-index: -1;
   margin-top: -60px;
}
.dots{
    color: white;
    margin-top: 19px;
    width: 100%;
    height: 50px;
    padding-top: 13px;
    position: fixed;
}
.dot1 h1{
    color:white;
}
.dot1{
    display: flex;
    width: 91%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
   
}
.navLists li:hover{
    color:rgb(255, 111, 0)
}
.login1{
    display: flex;
    flex-direction: row;
    gap:5px;
    transition: all 1s linear;
transform: translateY(-60px);
}
.login1 button{

    padding: 5px 13px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid rgb(255, 111, 0);
    color: white;
}
.login1 button:hover{
    background-color: rgb(255, 111, 0);
}
.intro{
    padding-top: 90px;
    width: 90%;
    margin: 0 auto;
    color: white;
    text-align: center;
}
.intro h1{
    font-weight: 600;
    font-size: 31.06px;
}
.intro p{
    max-width: 80%;
    margin:0 auto;
    text-align: center;
    font-size: 15px;
}
.intro Button{
    color: white;
    font-weight: 550;
    padding: 10px 25px;
    background-color: rgb(255, 111, 0);
    margin-top: 10px;
    border-radius: 25px;
    border: none;
}
.inputText{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.inputSet{
    box-shadow: 0px 2px 3px grey;
    border-radius: 15px;
    background-color:white;
    width: 69%;
    margin: -165px auto;
    padding: 30px 20px 40px;
}
.inputSet input{
    margin-top: -15px;
    background-color: rgb(245, 247, 249);
    padding: 8px;
    border: none;
}
.inputSet button{
margin-top: 30px;
margin-left: 4%;
   width: 91%;
   padding: 10px 0;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 111, 0);
    font-size: 15px;
    color: white;
}
.popular{
    width:82%;
    margin: 210px auto 0;
}
.popularDestination h3{
    font-size: 26px;
}
.popularDestination p{
    color: grey;
}
.arrows{
    display: flex;
    flex-direction: row;
    gap:5px;
}
.arrows img{
    border-radius: 50%;
   width:30px;
   height: 30px;
}
.images{
    box-shadow: 0px 2px 8px 2px rgba(178,178,178,0.45);
border-radius: 10px;
    position: relative;
    margin-top: 30px;
}
.images:hover{
    box-shadow: 0px 2px 8px 2px rgba(178,178,178,0.45);
    border-radius: 13px;
}
.images img{
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    width:100%;
    height: 40%;
}
.image h4{
  font-size: 17px; 
}
.image p{
    margin-top: -15px;
    font-size: 14px;
    color:grey;
}
.image img{
    border-radius: 50%;
    width:30px;
    height: 30px;
    position: absolute;
    top:80%;
    left:85%;
}

.image{
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background-color: rgba(11, 5, 0, 0.8);
    color: white;
    position: absolute;
    top:0;
    left:0%;
    height: 64.9%;
    width:93%;
    padding-left:19px;
    display: flex;
    flex-direction: column;
   justify-content: center;
  transition: all 2s linear;
}
.noImage{
    transition: all 2s linear;
    width:1px;
    height: 1px;
    font-size: 1px;
    position: absolute;
    top:60%;
    left:40%;
    width: 0%;
}
.ol1{
    width: 87%;
    margin: 0 auto;
}
.london{

    margin-top: -25px;
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content: space-between;
}
.london h1{
    border-radius: 50%;
    background-color: rgb(255, 111, 0);
    width: 7px;
    height: 7px;
}
.london h5{
    font-size: 14px;
}
.dot2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:13px;
}
.ol{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:7px;
}
.ol p{
    font-weight: 600;
   
    font-size: 20px;
}
.ol h1{
    background-color: rgb(255, 111, 0);
    height: 4px ;
    width: 40px;
}
.special{
    width:90%;
    margin: 110px auto 0;

}
.specialOffer{
    display: grid;
    grid-template-columns: 1fr;
}
.specialOffers{
    max-width: 85%;
    margin: 0px auto;
    text-align: center;
}
.specialOffers h3{
    font-size: 26px;
}
.specialOffers p{
max-width: 90%;
line-height: 25px;
margin: -20px auto 0px;
    color:grey;
    font-size: 14px;
}
.details{
    margin-top: 40px;
    border-radius: 10px;
    background-color: rgb(244, 243, 245);
    padding: 9px 0 33px;
}

.offer{
    width:90%;
    margin: 0 auto;
}
.offer img{
    width:100%;
   position: relative;
    border-radius: 10px;
}
.offer p{
    padding: 5px 10px;
    position: absolute;
   top:455%;
   left:68%;
    background-color: rgb(255, 111, 0);
    border-radius: 20px;
    font-size: 9px;
    color:white;
    font-weight: 600;
}

.offer span{
    font-size: 7px;
}
.fullDetails{
    width: 87%;
    margin: 0 auto;
}
.rupees{
    max-width: 87%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    margin-left: 10px;
}
.rupees p{
    font-size: 9px;
    font-weight: 600;
    color: rgb(255, 111, 0);
    padding: 5px 10px;
    background-color: rgb(232, 234, 236);
    border-radius: 20px;
}
.facilities{
   max-width: 77%;
    margin-left:11px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:9px
}
.facilities img{
    width: 15px;
    height: 15px;
}
.facility{
    border-radius: 7px;
    background-color: rgb(232, 234, 236);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:9px;
    padding-left: 10px;
    max-height: 30px;
    max-width: 75px;
}
.facility p{
    font-size: 11px;
    font-weight: 600;
    color:grey
}
.navigator{
    
    margin-left:19px;
    display: flex;
    flex-direction: row;
    align-items: center;
gap:7px;
}
.navigator p{
    font-size: 11px;
    color: grey;
}
.navigator img{
    width: 15px;
    height: 15px;
}
.viewDetails{
    display: flex;
    flex-direction: row;
    align-items: center;
  justify-content: center;
    background-color: rgb(255, 111, 0);
    max-width: 91%;
    padding: 5px 0;
    margin: 5px auto 0;
    border-radius: 20px;
}
.viewDetails button{
   
    padding:5px 15px;
    margin-left:15px ;
    border: none;
    background-color:rgb(255, 111, 0) ;
    font-size: 13px;
    font-weight: 600;
    color:white;
   
}

.viewDetails img{
    width: 15px;
    height: 15px;
}
.hiking{
    width: 85%;
    margin: 110px auto;
    text-align: center;
}
.hiking h3{
    font-size: 26px;
}
.hikingImage img{
   width: 90px;
   height: 90px;
   border-radius: 50%;
}
.content{
    text-align: center;
    font-size: 14.5px;
    color:grey
}
.content p{
    margin-top: -5px;
    line-height: 23px;
}
.content h3{
    margin-top: 2px;
    font-weight: 600;
    color: black;
    font-size: 15px;
}
.wonderful{
    width: 90%;
    margin: -70px auto 0;
    background: url('../images/about-section.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.wonder{
    width:70.3%;
    padding: 13px 35px;
    background-color: rgba(11, 5, 0, 0.7);
    color: white;
}
.wonder h3{
    font-size: 19px;
    line-height: 33px;
}
.wonder p{
    font-size: 13px;
    line-height: 21px;
    padding-bottom: 20px;
}
.wonder img{
   
    border-radius: 7px;
    border: 3px solid white;
    width: 97%;
 margin: 0 auto;
}
.blogs{
    width: 85%;
    margin:0 auto;
}
.blogIntro{
    text-align: center;
    margin-top: 110px;
}
.blogIntro h3{
    font-size: 26px;
}
.blogIntro p{
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    font-size: 14px;
    color:grey;
}
.blog img{
    margin-left: -7px;
    border: 7px solid white;
    box-shadow: 0px 2px 8px 2px rgba(178,178,178,0.45);
    border-radius: 10px;
    margin-top: 25px;
    width:100%;
}
.blog h3{
    line-height: 25px;
    font-size: 16px;
    font-weight: 600;
}
.blog p{
    line-height: 25px;
    font-size: 14px;
    color: grey;
}
.readMore{
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    align-items: center;
gap:10px;


}
.readMore img{
    border: none;
    width: 20px;
    height: 20px;
    transition: all 0.5s linear;
transform: translateY(-10px);
}
.readMore p{
    color:rgb(255, 111, 0);
}

.readMore:hover{
    transition: all 0.5s linear;
    gap:30px;
}
.footer{
    padding: 30px;
    text-align: center;
    margin-top: 50px;
    background-color: rgb(232, 234, 236);
}
.footerIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footerIcon img{
    width: 30px;
    height: 30px;
}
.contactInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.contactInfo img{
    width: 30px;
    height: 30px;
}
.info p:hover, .contact p:hover, .helpful p:hover{
    color:rgb(255, 111, 0);
}
.info p{
    font-weight: 540;
    font-size: 14px;
    line-height: 13px;
    color: rgb(78, 76, 76);
}
.contact p{
    font-weight: 540;
    font-size: 14px;
    line-height: 13px;
    color: rgb(78, 76, 76);
}


@media screen and (min-width:480px){
    .login1 button{
        transition: all10.5 linear;
        transform: translateY(-20px);
    }
    .dot1 p{
        transition: all 1s linear;
        transform: translateX(140px);
    }
.popular1{
    display: grid;
    grid-template-columns: 1fr;
    gap:35px;
}
.popularDestination h3{
    font-size: 25px;
}
.images img{
    width: 100%;
    height: 65%;
}

.image{
    transition: all 0.5 linear;
    width:95%;
}
.image img{
    width: 40px;
    height: 40px;
}
.offer p{
    position: absolute;
    top:315%;
    left:36%;
    font-size: 7px;
    padding:2px 5px;
}
.wonder{
    width:83.3%;
    padding: 13px 35px 33px;
    background-color: rgba(11, 5, 0, 0.7);
    color: white;
}
.wonder h3{
    font-size: 29px;
    line-height: 35px;
}
.wonder img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.offer p{
    position: absolute;
    top:295.5%;
    left:34%;
}
.facility{
    border-radius: 7px;
    background-color: rgb(232, 234, 236);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:9px;
    padding-left: 10px;
    max-height: 30px;
    max-width: 95px;
}
.facility p{
    font-weight: 600;
    font-size: 13px;
}
.navigator p{
    font-size: 11px;
}
.hikings h3{
    font-size: 23px;
}
.blogIntro h3{
    font-size: 23px;
}

}
@media screen and (min-width:556px){
    .navLists{
        transition: all 1s linear;
        transform: translateY(2px);
        list-style-type: none;
        font-size: 13px;
        display: flex;
        flex-direction: row;
        gap:15px;
    }
    .login1{
        
        transition: all 1s linear;
        margin-left: -55px;
        transform: translateY(2px);
    }
    .inputSet{
        max-width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        padding:40px 90px 30px;
    }
    .inputText{
        transition: all 1s linear;
        max-width: 95%;
        margin: -19px auto 0;
        margin-left: -20%;
        
    }
    .inputSet input{
        margin-top: -13px;
        background-color: rgb(245, 247, 249);
       
        border: none;
    }
    .inputSet button{
        font-size: 15px;
        font-weight: 500;
        color: white;
        transform: all 1s linear;
        margin-top: 20px;
        transform: translateX(-30px);
        
       
    }
    .popular{
        width: 93%;
        margin: 205px auto 0;
    }
.popular1{
    transition: all 1s linear;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}
.images img{
    height: 65%;
}
.image img{
    width: 30px;
    height: 30px;
}
.special{
    width: 93%;
    margin: 0 auto;
}
.specialOffer{
    transition: all 1s linear;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}
.offer img{
    width: 100%;
}
.offer p{
    position: absolute;
    top:278%;
    left:37%;
    font-size: 7px;
    padding:2px 5px;
}
.facility p{
    font-size: 9px;
    font-weight: 600;
    color:grey
}
.wonder{
    width:86%;
    padding: 13px 35px 27px;
    background-color: rgba(11, 5, 0, 0.7);
    color: white;
}
.wonder h3{
    font-size: 29px;
    line-height: 35px;
}
.wonder img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.dot1 p{
    transition: all 1s linear;
   transform: translateY(-35px);
}
}

@media screen and (min-width:767px){
    .intro{
        padding-top: 150px;
        width: 90%;
        margin: 0 auto;
        color: white;
        text-align: center;
    }
   
    .dot1 p{
        transition: all .5s linear;
        transform: translateY(-60px);
    }
    .login1 button{
        transition: all .5s linear;
        transform: translateY(1px);
    }
    
    .wonderful{
        width: 90%;
        margin: -70px auto 0;
        background: url('../images/about-section.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all linear 1s;
      
    }
    .intro h1{
        max-width: 89%;
        margin: 50px auto;
        font-size: 40px;
    }
    .intro button{
        font-size: 19px;
        padding: 13px 50px;
    }
    .intro p{
        font-size: 19px;
        transition: all linear 1s;
        transform: translateY(-10px);
    }
    .nav{
        display: flex;
        justify-content: space-between;
        position: absolute;
        top:0;
        left:-100%;
        width: 100%;
        height: 100%;
        transition: all 2s linear;
    }
    .navLists{
        color: white;
        font-weight: 600;
        font-size: 14px;
        transition: all 1s linear;
        transform: translateX(39px);
    }
    .nav1{
        background-color: white;
    width: 100%;
    height: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top:0;
        left:0%;
        width: 100%;
        height: 100%;
        transition: all 2s linear;
        font-size: 1px;
    }
    .login1{
        gap:10px;
    }
    .login1 button{
        padding: 10px 25px;
    }
    .inputSet{
        transition: all 1s linear;
        max-width:67%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding:40px 90px 40px;
        transform: translateY(90px);
    } 
    .inputText{
        transition: all 1s linear;
        max-width: 90%;
        margin: -9px auto 0;
        margin-left: -15%;
        
    }
    .inputSet input{
        margin-top: -13px;
        background-color: rgb(245, 247, 249);
      transition: all 1s linear;
      padding: 13px 17px;
        border: none;
    }
    .inputSet button{
        font-size: 19px;
       transition: all 1s linear;
       transform: translateX(-40px);
       height: 67%;
       border-radius: 35px;
    }
    .noImage{
        transition: all 2s linear;
        width:1px;
        height: 1px;
        position: absolute;
        top:60%;
        left:40%;
        font-size: 1px;
      opacity: 0;
    }
    .popular{
transition: all 1s linear;
        width:93%;
        margin: 330px auto 0;
    }
    .popular1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .popularDestination h3{
        font-size: 27px;
    }
    .popular p{
        font-size: 15px;
        color: grey;
    }
.images h4{
    font-size: 23px;
}
.image{
    width: 91.7%;
}
.image img{
    width: 31px;
    height: 31px;
}
.ol{
    transition: all .5s linear;
    transform: translateY(-13px);
}
.ol p{
    font-size: 23px;
    color:grey;
}
.ol h1{
    height: 5px;
    width: 20%;
}
.london{
    transition: all .5s linear;
    transform: translateY(-31px);
}
.london h5{
    transition: all 1s linear;
    font-size: 17px;
}
.specialOffer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.special{
    transition: all .5s linear;
    transform: translateY(90px);
}

.specialOffers h3{

    transition: all 1s linear;
    font-size: 25px
}
.specialOffers p{
    transition: all 1s linear;
    font-size: 15px;
}
.facility img{
    transition: all 1s linear;
    width: 20px;
    height: 20px;
}
.facility p{
    transition: all 1s linear;
    font-size: 11px;
}
.facility img{
    width: 15px;
    height: 15px;
}
.facility{
    transition: all 1s linear;
    padding: 1px 11px;
}
.navigator p{
    transition: all 1s linear;
    font-size: 10px;
}
.viewDetails button{
    transition: all 1s linear;
    border-radius: 25px;
    padding: 10px ;
    font-size: 15px;
}
.gridHiking{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
}
.hiking{
    transition: all .5s linear;
    transform: translateY(90px);
}
.hikings h3{
    font-size: 25px;
}
.hikingImage img{
    width: 110px;
    height: 110px;
}
.hikingImage h3{
    font-size: 20px;
}
.hikingImage p{
    font-size: 15px;
}
.wonder h3{
    font-size: 30px;
    line-height: 41px;
}
.wonderful p{
    font-size: 17px;
    line-height: 27px;
}
.wonderful{
    transition: all .5s linear;
    transform: translateY(90px);
}
.wonder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:50px;
    width: 81.7%;
    padding: 49px 90px 5px;
}
.gridBlog{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:29px;
}
.blogs{
    transition: all .5 linear;
    transform: translateY(90px);
}
.blogIntro h3{
    font-size: 27px;
}
.blogIntro p{
    font-size: 15px;
}
.blog p{
font-size: 15px;
}
.blog h3{
    font-size: 17px;
    }
    .readMore img{
        border-radius: 50%;
       width: 25px;
       height: 25px;
        }
        .readMore p{
            font-weight: 550;
            font-size: 15px;
        }
        
        .footer{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            transition: all .5 linear;
            transform: translateY(50px);
            padding: 50px 130px 70px;
        }
}


@media screen and (min-width:1024px){
    
    .dots{
        width: 90%;
        margin: 20px auto;
    }
    .navLists{
        font-weight: 540;
        font-size: 20px;
    }
    .intro h1{
        max-width: 70%;
        margin:50px auto;

    }
    .dot1 p{
        transition: all .5 linear;
        transform: translateY(-90px);
    }
    .dot1{
        font-size: 20px;
        gap:13px;
    }
    .login1 button{
        font-size: 20px;
        padding: 9px 30px;
        border-radius: 25px;
    }
    .inputSet{
        transition: all 1s linear;
        max-width:100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:20px;
        padding:50px 100px;
        transform: translateY(90px);
    } 

    .inputText{
        transition: all 1s linear;
        max-width: 100%;
        margin: -9px auto 0;
        margin-left: -23%;
    }
    .inputSet input{
        margin-top: -13px;
        background-color: rgb(245, 247, 249);
      transition: all 1s linear;
      padding: 17px 15px;
        border: none;
    }
    .inputSet button{
        font-size: 19px;
       transition: all 1s linear;
       transform: translateX(-45px);
       height: 67%;
       border-radius: 25px;
      padding: 17px 65px;
    }
    .popularDestination h3{
        font-size: 30px;
    }
    .popularDestination p{
        font-size: 17px;
        line-height: 30px;
    }
    .popular{
        max-width: 80%;
        margin: 390px auto;
    }
    .popular1{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:40px;
    }
    .popularGrid{
        max-width: 100%;
        transition: all 1s linear;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:150px;
    }
   
    .noImage{
        transition: all 2s linear;
        width:1px;
        height: 1px;
        position: absolute;
        top:60%;
        left:40%;
        font-size: 1px;
      opacity: 0;
    }
    .arrows img{
        width: 45px;
        height: 45px;
    }
    .image{
        transition: all 2s linear;
        width:95.3%;
    }
    .image{
        transition: all 2s linear; 
        width:93%;
        padding-left:19px;
    }
    .image img{
        width: 35px;
        height: 35px;
    }
    .ol p{
        font-size: 25px;
    }
   .ol{
    transition: all 1s linear;
    transform: translateY(-30px);
    font-size: 40px;
   }
   .london{
    transition: all 1s linear;
    transform: translateY(-50px);
   }
   .special{
    transition: all 1s linear;
    transform: translateY(-230px);
}
.specialOffers h3{
    font-size: 30px;
}
.specialOffers p{
    font-size: 17px;
}
.specialOffer{
    max-width: 87%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.facility{
    padding: 5px 13px;
}
.navigator p{
    font-size: 13px;
}
.hiking{

    transition: all 1s linear;
    transform: translateY(-170px);
}
.hikings h3{
    font-size: 31px;
}
.hikingImage h3{
    font-size: 20px;
}
.hikingImage p{
    font-size: 17px;
    line-height: 30px;
}
.wonderful{
    transform: translateY(-90px);
}
.wonder{
    padding: 30px 50px;
    width: 89.9%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap:90px;
}
.wonder h3{
    transition: all 1s linear;
    transform: translateX(50px);
    line-height: 47px;
}
.wonder p{
    transition: all 1s linear;
    transform: translateX(50px);
    font-size: 17px;
    line-height: 30px;
}
.blogs{
    transition: all .5s linear;
    transform: translateY(-30px);
}
.blogIntro h3{
    font-size: 33px;
}

.blogIntro p{
    font-size: 17px;
}
.blog h3{
    font-size: 20px;
    line-height: 45px;
}

.blog p{
    line-height: 30px;
    font-size: 17px;
}
.readMore img{
    width: 25px;
    height: 25px;
}
.footerIcon img{
    width: 49px;
    height: 49px;
}
.contactInfo img{
    width: 39px;
    height: 39px;
}
.footer{
    transition: all .5 linear;
    transform: translateY(-50px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px 130px;
}
.footerIcon h3{
    font-size: 30px;
}
.footerIcon img{
    width: 33px;
    height: 33px
}
.contactInfo img{
    width: 25px;
    height: 25px;
}
.info h4{
    font-size: 21px;
}
.contact h4{
    font-size: 21px;
}
.helpful h4{
    font-size: 21px;
}
.info p,.contact p, .helpful p{
    font-size: 17px;
}
}
@media screen and (min-width:1426px){

    .dot1{
        width: 83%;
        margin:20px auto;
    }
    .dot1 p{
        transition: all 1s linear;
        transform: translateY(-50px);
    }
    .navLists li{
        font-size: 19px;
        color: white;
        font-weight: 550;
    }
    .noImage{
        transition: all 2s linear;
        width:1px;
        height: 1px;
        position: absolute;
        top:60%;
        left:40%;
        font-size: 1px;
      opacity: 0;
    }
    .intro{
        padding-top: 190px;
        width: 90%;
        margin: 0 auto;
        color: white;
        text-align: center;
    }
    
    .intro h1{
        max-width: 60%;
        margin: 0 auto;
        font-size: 45px;
    }
    .intro button{
        font-weight: 540;
        font-size: 17px;
        padding: 12px 33px;
        border-radius: 29px;
        border: none;
    }
    .intro p{
        max-width: 38%;
        margin: 20px auto;
        font-size: 19px;
        line-height: 30px;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        position: absolute;
        top:0;
        left:-100%;
        width: 100%;
        height: 100%;
        transition: all 2s linear;
    }
    .navLists{
        gap:50px;
        font-weight: 600;
        font-size: 24px;
        transition: all 1s linear;
        transform: translateX(179px);
    }
    .nav1{
        background-color: white;
    width: 100%;
    height: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top:0;
        left:0%;
        width: 100%;
        height: 100%;
        transition: all 2s linear;
    }
    .login1{
        transition: all .5s linear;
        transform: translateX(130px);
        gap:10px;
    }
    .login1 button:hover{
        background-color: rgb(229, 93, 14);
    }
    .login1 button{
        font-size: 17px;
        padding: 7px 29px;
    }
    .inputSet{
        transition: all 1s linear;
        transform: translateY(79px);
        width:47%;
        display: grid;
        grid-template-columns:repeat(4,1fr);
        padding:20px 190px 39px;
        
    } 
    .inputText p{
        color: grey;
        font-size: 20px;
    }
    .inputText{
        transition: all 1s linear;
        margin: -15px auto 0;
        margin-left: -50%;
        
    }
    .inputSet input{
        margin-top: -13px;
        background-color: rgb(245, 247, 249);
      transition: all 1s linear;
      transform: translateX(-20px);
      padding: 11px 37px;
        border: none;
    }
    .inputSet button{
        font-size: 15px;
       transition: all 1s linear;
       transform: translateX(-147px);
       height: 57%;
       margin-top: 30px;
       padding: 10px 75px;
       border-radius: 35px;
    }
    .popular{
        
transition: all 1s linear;
        width:80%;
        margin: 320px auto 0;
      
    }
    .popularDestination h3{
        font-size: 29px;
    }
    .popular p{
        transition: all 1s linear;
        transform: translateY(-15px);
        font-size: 15px;
        color: grey;
    }
    .popular1{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:15px;
    }
    .popularGrid{
        max-width: 100%;
        transition: all 1s linear;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:150px;
    }
    .arrows img{
        transition: all 1s linear;
        width: 45px;
        height: 45px;
    }
    .images{
        box-shadow: 0px 2px 8px 2px rgba(178,178,178,0.45);
border-radius: 10px;
     max-height: 80%;
    }
    .image {
        width: 93%;
        height: 60%;
    }
.images h4{
    font-size: 19px;
}
.image p{
    line-height: 30px;
    font-size: 15px;
}

.images img{
    width:100%;
    height: 60%;
}
.image img{
    width: 30px;
    height: 30px;
}
.ol{
    transition: all 1s linear;
    transform: translateY(-4px);
}
.ol p{
    font-size: 25px;
    color:grey;
}
.ol h1{
    transition: all 1s linear;
    transform: translateY(-15px);
    align-items: center;
    font-size: 20px;
    height: 4px;
    width: 20%;
}
.london h5{
    transition: all 1s linear;
    font-size: 15px;
}
.london{
    transition: all 1s linear;
    transform: translateY(-20px);
    padding-bottom: 30px;
}
.dot2 p{
    transition: all 1s linear;
    transform: translateY(1px);
}
.special{
    transition: all 1s linear;
    transform: translateY(70px);
}
.specialOffer{
    max-width: 87%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.specialOffers h3{
    transition: all 1s linear;
    font-size: 29px
}
.specialOffers p{
    transition: all 1s linear;
    font-size: 15px;
    line-height: 39px;
}

.facilities{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.facility img{
    transition: all 1s linear;
    width: 20px;
    height: 20px;
}
.facility p{
    transition: all 1s linear;
    font-size: 12px;
}
.facility{
    transition: all 1s linear;
    padding: 2px 15px;
}
.navigator p{
    transition: all 1s linear;
    font-size: 12px;
}
.viewDetails button{
    transition: all 1s linear;
    border-radius: 35px;
    padding: 5px;
    font-size: 15px;
}
.gridHiking{
    width: 94%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
}
.hiking{
    transition: all 1s linear;
    transform: translateY(70px);
}
.hikings h3{
    font-size: 30px;
}
.hikingImage img{
    width: 110px;
    height: 110px;
}
.hikingImage h3{
    font-size: 19px;
}
.hikingImage p{
    font-size: 15px;
    line-height: 29px;
}
.wonder h3{
    font-size: 25px;
    line-height: 35px;
}

.wonderful{
    transition: all 1s linear;
    transform: translateY(60px);
 height: 50%;
 width: 79%;
}
.wonder{
    width: 90.9%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:160px;
}
.wonderful p{
    font-size: 14px;
    line-height: 21px;
}

.blogs{
    transition: all 1s linear;
    transform: translateY(120px);
}
.gridBlog{
    width: 92%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:29px;
}
.blogIntro h3{
    font-size: 30px;
}
.blogIntro p{
    font-size: 15px;
    line-height: 39px;
}
.blog p{
    font-size: 15px;
    line-height: 25px;
}
.blog h3{
    font-size: 20px;
    line-height: 40px;
    
    }

    .readMore img{
        border-radius: 50%;
       width:25px;
       height: 25px;
        }
        .readMore p{
            font-weight: 550;
            font-size: 15px;
        }
        .footer{
            transition: all 1s linear;
            transform: translateY(120px);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 50px 150px 79px;
        }
        .footerIcon img{
            width: 39px;
            height: 39px;
        }
        .contactInfo img{
            width: 29px;
            height: 29px;
        }
        .footerIcon h3{
            font-size: 40px;
        }
        .info h4{
            font-size: 20px;
        }
        
        .contact h4{
            font-size: 20px;
        }
        .info p{
            font-size: 16px;
        }
        
        .contact p{
            font-size:16px;
        }
        
}





